<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body class="bg-light">

    <div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li th:classappend="${activePage == 'Users'} ? active"><a th:href="@{/user}">
                <i class="fa fa-fw fa-link"></i> Users</a></li>
            <li th:classappend="${activePage == 'Roles'} ? active"><a th:href="@{/role}">
                <i class="fa fa-fw fa-link"></i> Roles</a></li>
            <li th:classappend="${activePage == 'Categories'} ? active"><a th:href="@{/category}">
                <i class="fa fa-fw fa-link"></i> Categories</a></li>
            <li th:classappend="${activePage == 'Brands'} ? active"><a th:href="@{/brand}">
                <i class="fa fa-fw fa-link"></i> Brands</a></li>
            <li th:classappend="${activePage == 'Products'} ? active"><a th:href="@{/product}">
                <i class="fa fa-fw fa-link"></i> Products</a></li>
        </ul>
    </div>
<!--<div class="sidebar sidebar-dark bg-dark">-->
<!--    <ul class="list-unstyled">-->
<!--        <li><a href="/role"><i class="fa fa-fw fa-link"></i> Управление ролями</a></li>-->
<!--        <li><a href="/user"><i class="fa fa-fw fa-link"></i> Управление пользователями</a></li>-->
<!--        <li><a href="/category"><i class="fa fa-fw fa-link"></i> Управление категориями товаров</a></li>-->
<!--        <li><a href="/product"><i class="fa fa-fw fa-link"></i> Управление товарами</a></li>-->
<!--    </ul>-->
<!--</div>-->
</body>

</html>